body {
    margin: 0; 
    padding: 0; 
}
/*header, includes logo and nav*/
/* set consistent max-width for all main sections */ 
header, .banner {
    width: 100%; 
    max-width: 100%; 
    box-sizing: border-box; 
}

/*header will have flex display so we can display contents side by side*/
header {
    display: flex;
    justify-content: space-between; /* align items horizontally with space between */
    align-items: center; /* align items vertically in the center */
    padding: 0 24px;
    height: 64px; /* set the height of the header */
}


/* logo is to the left side of the header */
.logo-container{
    display: flex;
    align-items: center; /* align items vertically in the center */
    gap: 4px; /*controls spacing between logo and text */
}

.logo{
    display: flex; 
    align-items: center; /* align items vertically in the center */
    height: 32px; 
} 

/* logo text */ 
.logo-text{
    display: flex; 
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
}

.h1_edit, .h1_edit2{ 
    margin: 0; 
    padding: 0;  
}

.h1_edit{
    color: black; 
}

.h1_edit2{
    color: grey; 
    font-weight: 100; 
}
/* nav is to the right side of the header */
.navDesktop{
    display: flex; 
    align-items: center; /* align items vertically in the center */
    justify-content: flex-end; /* align items horizontally to the right */
}

/* nav Mobile is not showing */ 
.navMobile {
    display: none; 
}

.navDesktop ul{
    display: flex; 
    list-style: none; 
}

.navDesktop ul li{
    padding: 0px 16px; 
}

.navDesktop ul li a{
    text-decoration: none; 
    color: black; /* this will also set the link color to black */ 
}



/* banner which is a flex container */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.banner img{
    width: 60%;
    padding: 32px 24px;  
}
/* banner text needs to be it's own flex container */
.banner-text{
  display: flex;
  flex-direction: column;  
  color: black; 
  width: 80%;  /* this set the width to 1/2 of what is left of the image */
  padding: 32px 0px; 
}

.banner-text h1{
    width: 80%; /* this sets the width of the h1 relative to its container */
    margin-bottom: 24px; 
}

.banner-text h3{ 
    font-weight: 100; 
    width: 80%; /* this sets the width of the h3 relative to its container */
    margin-bottom: 24px; 
}

/* left side text h5 should be lighter */ 
.leftside_text h5{
    font-weight: 100; 
}

.banner-text button{
    padding: 8px 0; 
    width: 80%; /* this sets the button with relative to its container */ 
    background-color: #4a4a4a; 
    border: none; 
    color: white; 
    cursor: pointer; 
}

/* main section */
.main{
    display: flex; 
    flex-direction: column; 
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
}

/* apply lighter text to the paragraphs in the body */ 
.main h3, 
.main p{
    font-weight: 100;
    color: gray;
}

/* information is it's own flex container */

/* information mobile is not showing by default */ 
.informationMobile{
    display: none;
}
.information{
    display: flex; 
    flex-direction: row; 
    align-items: stretch; /* make sure all items are the same height */
    background-color: white; 
    padding: 32px 0px;  
    border: 1px solid #e6e6e6;
}

.information .left-main{
    display: flex; 
    flex-direction: column; 
    padding: 0px 24px; 
    width: 60%; 
}

.information .left-main img{
    width: 100%; 
    height: auto; 
}

.information .leftside_text{
    padding-top: 32px; 
    padding-bottom: 24px; 
}

.information .right-main{
    display: flex;
    flex-direction: column; 
    width: 40%; 
    border-left: 1px solid #e6e6e6; /* add a border to the left side of the right main*/
    margin-right: 24px; 
    height: 100%;
}

.information .right-main > div{
    flex: 1; 
    display: flex; 
}

/* borders for child elements of information section */ 
.information .orientation, 
.information .campus{
    border-bottom: 1px solid #e6e6e6;
}

/* orientation flex container */ 

.information .orientation{
    display: flex; 
    flex-direction: row; 
}

.information .orientation img{
    height: auto; 
    width: 35%; 
    padding: 0px 16px 16px 16px; /*top, right, bottom, left*/
}

.information .orientation-text{
    display: flex; 
    flex-direction: column; 
    justify-content: center; /* align items vertically in the center */
    width: 65%; 
}

/* campus flex container */

.information .campus{
    display: flex; 
    flex-direction: row;
}

.information .campus img{
    height: auto;
    width: 35%;
    padding: 16px 16px;
}

.information .campus-text{
    display: flex;
    flex-direction: column;
    justify-content: center; /* align items vertically in the center */
    width: 65%;
}

/* guest-lecture flex container */
.information .guest-lecture{
    display: flex; 
    flex-direction: row;
}

.information .guest-lecture img{
    height: auto;
    width: 35%;
    padding: 16px 16px;
}

.information .guest-lecture-text{
    display: flex;
    flex-direction: column;
    justify-content: center; /* align items vertically in the center */
    width: 65%;
}

/* courses section, flex continaer */ 
.courses{
    display: flex; 
    flex-direction: column; 
    padding: 32px 72px; /* top and bottom, left and right */
    background-color: lightgray;
}

#coursesHeader {
    padding-bottom: 32px; 
    text-align: center; 
}

.courses-container{
    display: grid;  
    grid-template-columns: repeat(3, 1fr); /* 3 columns */ /* 1fr means equal width */
    gap: 32px; /* controls spacing between items */
    width: 100%; /* make sure the container takes up the full width of its parent */
}

/* style for all course cards */ 
.courses-container > div {
    background-color: white; 
    display: flex; 
    flex-direction: column; 
    padding-bottom: 24px; 
}

.courses-container > div > img{
    width: 100%; /* make sure the image takes up the full width of its container */
    height: auto; 
}

.courses-container > div > h2{
    padding-top: 16px; 
    padding-left: 16px; 
}
 
.courses-container > div > h3, 
.courses-container > div > p {
    padding: 8px 16px; 
    margin: 0; 
}

/* thesis section, flex container */
.thesis{
    display: flex; 
    flex-direction: column; 
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    border-bottom: 1px solid #e6e6e6;
} 

.thesis h1{
    text-align: center; 
    padding: 32px 0px; 
}

.thesis-container{
    display: flex; 
    width: 100%; 
}

/* left column - video section */ 
.thesisVideo{
    width: 60%; 
    padding: 0 24px; 
}

.thesisVideo video{
    width: 100%; 
    height: auto; 
}

.thesisVideo .content-wrapper{
    display: flex; 
    flex-direction: column; 
    padding: 24px 0; 
}

.thesisVideo h2{
    margin-top: 24px; 
}

.thesisVideo p{
    color: gray; 
    font-weight: 100; 
}

/* right column - sidebar */
.thesisSidebar{
    width: 40%;
}

/* Sidebar items */ 
.thesisSideBar .fisma-content, 
.thesisSideBar .urban-content{
    display: flex;
    flex-direction: column;
    width: 65%; 
    padding-left: 16px; 
}

.fisma, .urban{
    display: flex; 
    align-items: center; 
    padding: 16px; 
}

.fisma{
    background-color: lightgray; 
}

.thesisSidebar img{
    width: 35%; 
    height: auto; 
    padding: 16px; 
}

.thesisSidebar h2{
    margin: 0; 
    padding-bottom: 8px; 
}

.thesisSidebar p{
    margin: 0; 
    color: gray; 
}

/* footer section */ 
footer{
    display: flex; 
    flex-direction: column; 
    padding: 16px 24px 64px 24px; /* top, right, bottom, left */
}

.footer-left{
    float: left; 
    align-items: center; /* align items vertically in the center */
}

.footer-right{
    display: flex; 
    align-items: center; /* align items vertically in the center */
    float: right; 
}
.footer-right a{
    text-decoration: none;
    color: black;
    padding: 0 8px;
}

/* Mobile styles */ 
@media only screen and (min-width: 320px) and (max-width: 768px) {
    /* hide desktop navigation */

    .logo-container{
        display: none; 
    }
    /* show mobile navigation */
    .navDesktop{
        display: none; 
    }

    .navMobile{
        display: flex; 
        height: 64px; 
        align-items: center; 
        width: 100%; 
        padding: 0 24px; 
    }
    
    .navMobile ul{
        display: flex; 
        list-style: none; 
        justify-content: space-around; 
        align-items: center; 
        width: 100%; 
        margin: 0; 
        padding: 0; 
    }
    
    .navMobile ul li{
        display: flex; 
        align-items: center; 
    }

    .navMobile ul li img{
        height: 32px; 
        width: auto; 
    }


    /* Mobile-specifc layout adjustments */ 
    .banner{
        flex-direction: column; 
        /* reset padding and margin */ 
        padding: 0; 
        margin: 0; 
    }

    .banner img {
        width: 100%; 
        padding: 0; 
        margin: 0; 
    }

    .banner-text{
        width: 100%; 
        background-color: lightgrey; 
        padding: 32px 0; 
    }

    .banner-text h1{
        margin: 32px 0 32px 16px;/* top, right, bottom, left */ 
    }

    .banner-text h3{
        margin: 0 0 24px 16px; /* top, right, bottom, left */
    }

    .banner-text button{
        margin-left: 16px; 
    }

    /* hide desktop information seciton */ 
    .information {
        display: none; 
    }

    /* show mobile information section */
    .information-mobile{
        display: flex; 
        padding: 16px 16px 64px 16px; /* top, right, bottom, left */
    }

    /* make edits to the text for mobile information section */ 
    .information-mobile .orientation-text,
    .information-mobile .campus-text,
    .information-mobile .guest-lecture-text{
        padding: 0 16px; 
    }

    .information-mobile img{
        width: 100%; 
        height: auto; 
        padding-top: 16px; 
    }

    /* courses section */ 

    .courses{
        background-color: white; 
    }

    .courses-container{
        grid-template-columns: 1fr; /* 1 column */
    }
    
    /* chagne background color for divs in courses section */ 
    .courses-container > div{
        background-color: lightgray; 
    }

    /* no images in mobile view for courses section */ 
    .courses-container > div > img{
        display: none;
    }

    /* make sure no h3 or p tags show up in mobile view */ 
    .courses-container > div > h3,
    .courses-container > div > p {
        display: none;
    }

    /* thesis section */
    .thesis-container{
        flex-direction: column; 
    }

    /* thesis video will show but nothing else */ 
    .thesisVideo{
        width: 100%;
    }

    /* footer , left side to show and right side to hide */ 
    .footer-left{
        float: none;
    }
    .footer-right{
        display: none;
    }

}