/*header, includes logo and nav*/

/*header will have flex display so we can display contents side by side*/
header {
    display: flex;
    justify-content: space-between; /* align items horizontally with space between */
    align-items: center; /* align items vertically in the center */
    padding: 64px 24px; 
}

/* logo is to the left side of the header */
.logo-container{
    display: flex;
    align-items: center; /* align items vertically in the center */
    gap: 4px; /*controls spacing between logo and text */
}

.logo{
    display: flex; 
    align-items: center; /* align items vertically in the center */
    height: 32px; 
} 
/* logo text */ 
.logo-text{
    display: flex; 
}
.h1_edit, .h1_edit2{ 
    margin: 0; 
    padding: 0;  
}
.h1 edit{
    color: black; 
}
.h1_edit2{
    color: grey; 
}
/* nav is to the right side of the header */
nav{
    display: flex; 
    align-items: center; /* align items vertically in the center */
    justify-content: flex-end; /* align items horizontally to the right */
}
nav ul{
    display: flex; 
    list-style: none; 
    gap: 1rem; 
}
nav ul li{
    padding: 0px 16px; 
}
nav ul li a{
    text-decoration: none; 
    color: black; /* this will also set the link color to black */ 
}
/* banner which is a flex container */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey; 
}
.banner img{
    width: 60%;
    padding: 32px 24px;  
}
.banner-text{
  color: black;   
}
.banner button{
    padding: 8px; 
}

